<div class="container-fluid">
  <div class="col-6">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of series">
          <td>
            <dd>{{c.id}}</dd>
          </td>
          <td>
            <dd class= "nameText">{{c.name}}</dd>
          </td>
          <td>
            <dd>{{c.channel}}</dd>
          </td>
          <td>
            <dd>{{c.seasons}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
    <h6>Seasons average:  <span> {{averageSeasons()}}</span></h6>
  </div>

</div>
